* {
    box-sizing: border-box;
}

body {
    background: #f5f8fe;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
}

main {
    background: rgba(255, 255, 255, 0.5);
    border: 10px solid #fff;
    border-radius: 10px;
    position: relative;
}

.pricing-list {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    margin: 0;
    list-style-type: none;;
}

.pricing-list h2 {
    font-weight: 500;
    margin-top: 0;
}

.pricing-list .price {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;
    margin: 0.25rem 0;
}

.pricing-list .price span {
    font-size: 1.5rem;
    margin-right: -10px;
}

.pricing-list .description {
    max-width: 220px;
    margin: 2rem 0;
    line-height: 1.4;
}

.btn {
    background: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    padding: 1rem;
    transition: box-shaddow 0.2s ease;
}

.btn:hover {
    box-shadow: 0 0 0 4px #000000;
}

.btn:active {
    box-shadow: 0 0 0 0px #000000;
}

.bg-pink {
    background: #EEBAFE;
}

.bg-teal {
    background: #ADF1F5;
}

.bg-yellow {
    background: #FeDDB7;
}

.sphere {
    position: absolute;
    filter: blur(80px);
    border-radius: 50%;
    height: 300px;
    width: 300px;
    z-index: -1;
}

.sphere:nth-child(1) {
    bottom: 0;
    left: 0;
    translate: -50% 50%;
}

.sphere:nth-child(2) {
    top: 0;
    left: 0;
    translate: 25% -50%;
}

.sphere:nth-child(3) {
    top: 0;
    right: 0;
    translate: 25% -25%;
}

@media screen and (width < 8) {
    main {
        text-align: center;
    }

    .pricing-list {
        gap: 4rem
    }
}